<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'/>
	<meta name='author' content='Thanat Chokwijitkul'/>
	<meta name='description' content='The API mashup provides users with visual and interactive way of exploring nearby places.'/>
	<meta name='keywords' content='API, mashup'/>
	<title>API Mashup</title>
	<!-- CSS Stylesheets -->
	<link rel='stylesheet' type='text/css' href='/stylesheets/bootstrap.min.css'/>
	<link rel='stylesheet' type='text/css' href='/stylesheets/style.css'/>
</head>
<body>
	<!-- Navigation bar -->
	<nav id='navbar' class='navbar navbar-default navbar-fixed-top' role='navigation'>
		<div class='container-fluid'>
			<div class='navbar-header'>
				<button type='button' class='navbar-toggle' data-toggle='collapse' data-target='#navbar-collapse-main'>
					<!-- Button decoration -->
					<span class='icon-bar'></span>
					<span class='icon-bar'></span>
					<span class='icon-bar'></span>
				</button>
				<!-- Application name -->
				<a id='app-name' class='navbar-brand' href='#header'>API Mashup</a>
			</div> <!-- navbar-header -->
			<div class='collapse navbar-collapse' id='navbar-collapse-main'>
				<!-- Navigation menu -->
				<ul id='nav-menu' class='nav navbar-nav navbar-right'>
					<li><a href='#header'>Home</a></li>
					<li><a href='#about'>About</a></li>
					<li><a href='#places'>Places</a></li>
					<li><a href='#map-canvas'>Map</a></li>
				</ul>
			</div> <!-- navbar-collapse -->
		</div> <!-- container-fluid -->
	</nav>  

	<!-- Header -->
	<div id='header' class='header'>
		<div class='centre-alignment'>
			<h1 id='city-name'>API Mashup</h1>
			<p>
				<a id='temperature' href='#'>Mashup</a>
				<span id='weather-description'>by Alex</span>
			</p>
		</div>
	</div> <!-- Header -->

	<!-- Application description - About -->
	<div id='about' class='text-padding'>
		<div class='container'>
			<div class='row'>
				<div id='about-content' class='text-center'>
					<h3>About This API Mashup</h3>
					<p>The API mashup provides users with visual and interactive way of exploring nearby places. The application detects locations of the web visitors and displays some basic information, including an interactive map and weather information in the area. Then user can discover the nearby businesses and services using some provided buttons labelled with place types/categories. However, other place types/categories still can be searched via a search box. 
					</p>
				</div> <!-- about-content -->
			</div> <!-- row -->
		</div> <!-- container -->
	</div> <!-- About -->

	<!-- Labelled buttons - Places -->
	<div id='places' class='text-padding'>
		<div id='places-container' class='container'>
			<h3 class='text-center'>Places</h3>
			<p id='places-description' class='text-center'>This API mashup brings you an easy way to find nearby business and services.</p>
			<br/> <!-- line break -->
			<!-- <hr/> horizontal line -->
			<div class='btn-toolbar' role='toolbar'>
				<div class='btn-group btn-group-lg btn-group-justified btn-group-fill-height'>
					<a href='#' class='btn btn-default' role='button'>
						<span>Button<span>
					</a>
					<a href='#' class='btn btn-default' role='button'>
						<span>Button<span>
					</a>
					<a href='#' class='btn btn-default' role='button'>
						<span>Button<span>
					</a>
					<a href='#' class='btn btn-default' role='button'>
						<span>Button<span>
					</a>
					<a href='#' class='btn btn-default' role='button'>
						<span>Button<span>
					</a>
				</div> <!-- btn-group -->
				<div class='btn-group btn-group-lg btn-group-justified btn-group-fill-height'>
					<a href='#' class='btn btn-default' role='button'>
						<span>Button<span>
					</a>
					<a href='#' class='btn btn-default' role='button'>
						<span>Button<span>
					</a>
					<a href='#' class='btn btn-default' role='button'>
						<span>Button<span>
					</a>
					<a href='#' class='btn btn-default' role='button'>
						<span>Button<span>
					</a>
					<a href='#' class='btn btn-default' role='button'>
						<span>Button<span>
					</a>
				</div> <!-- btn-group -->
			</div> <!-- btn-toolbar -->
		</div> <!-- container -->
	</div> <!-- Places -->

	<!-- Map -->
	<div id='map-canvas'></div> 

	<!-- Footer -->
	<footer>
		<div class='container'>
			<div id='social-media'>	</div>
			<p class='text-center'>Copyright &copy; Alex 2015 </p>
		</div> <!-- container -->
	</footer>

	<!-- JavaScripts -->
	<script type='text/javascript' src='/javascripts/script.js'></script>
	<script type='text/javascript' src='/javascripts/jquery.js'></script>
	<script type='text/javascript' src='/javascripts/bootstrap.min.js'></script>
</body>
</html>