html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
}

#navbar {
	background-color: #000000;
}

#app-name {
	color: #BDBDBD;
}

#nav-menu li a {
	color: #BDBDBD;
}

.centre-alignment {
	text-align: center;
	vertical-align: middle;
	display: table-cell;
}

.centre-alignment h1 {
	font-size: 3.5em;
}

.centre-alignment p {
	font-size: 1.2em;
}

#header {
	width: 100%;
	height: 100%;
	position: relative;
	display: table;
	background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
}

#about {
	background-color: #FFFFFF;
}

#about-content h3 {
	color: #000000;
}

#about-content p {
	margin: 0px 50px 0px 50px;
}

.text-padding {
	padding: 50px 0;
}

#places {
	background-color: #000000;
}

#places-container h3, hr {
	color: #BDBDBD;
}

#places-description {
	color: #BDBDBD;
}

.btn-group-fill-height .btn {
	background-color: #000000;
	color: #BDBDBD;
	white-space: normal;
	border-color: #BDBDBD;
	height: 120px;
	border-radius: 0px;
}

.btn-group-fill-height .btn:hover {
	color: #000000;
	background-color: #FFFFFF;
	border-color: #FFFFFF;
}

#map-canvas {
	height: 500px;
}

#social-media {
	height: 45px;
}

footer {
	height: 80px;
	color: #BDBDBD;
	background-color: #000000;
}

