<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'/>
	<meta name='author' content='Thanat Chokwijitkul'/>
	<meta name='description' content='The API mashup provides users with visual and interactive way of exploring nearby places.'/>
	<meta name='keywords' content='API, mashup'/>
	<title>Place Finder</title>
	<!-- CSS Stylesheets -->
	<link rel='stylesheet' type='text/css' href='/stylesheets/bootstrap.min.css'/>
	<link rel='stylesheet' type='text/css' href='/stylesheets/font-awesome.min.css'/>
	<link rel='stylesheet' type='text/css' href='/stylesheets/style.css'/>
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500' rel='stylesheet' type='text/css'>
</head>
<body>
	<!-- Navigation bar -->
	<nav id='navbar' class='navbar navbar-default navbar-fixed-top' role='navigation'>
		<div class='container'>
			<div class='navbar-header'>
				<button id='toggle-button' type='button' class='navbar-toggle' data-toggle='collapse' data-target='#navbar-collapse-main'>
					<!-- Button decoration -->
					<span class='glyphicon glyphicon-th-list'></span>
				</button>
				<!-- Application name -->
				<a id='app-name' class='navbar-brand' href='#header'>Place Finder</a>
			</div> <!-- navbar-header -->
			<div class='collapse navbar-collapse' id='navbar-collapse-main'>
				<!-- Navigation menu -->
				<ul id='nav-menu' class='nav navbar-nav navbar-right'>
					<li><a id='nav-header' href='#header'>Home</a></li>
					<li><a id='nav-about' href='#about'>About</a></li>
					<li><a id='nav-places' href='#places'>Places</a></li>
					<li><a id='nav-map' href='#map-canvas'>Map</a></li>
				</ul>
			</div> <!-- navbar-collapse -->
		</div> <!-- container -->
	</nav>  
	
	<!-- Header -->
	<div id='header' class='header'>
		<div class='centre-alignment'>
			<h1 id='city-name' class='header-content'>Place Finder</h1>
			<p>
				<span id='temperature' class='header-content' href='#'>Mashup</span> 
				<span id='weather-description' class='header-content'>by Alex</span><br/>
				<span id='min-temp' class='header-content'></span>
				<span id='max-temp' class='header-content'></span>
			</p>
		</div> <!-- centre-alignment -->
	</div> <!-- Header -->

	<!-- Application description - About -->
	<div id='about' class='text-padding'>
		<div class='container'>
			<div class='row'>
				<div id='about-content' class='text-center'>
					<h3>About Place Finder</h3>
					<p>Place Finder is an API mashup that provides you with visual and interactive way of exploring nearby places. The system detects where you are and displays some basic information, including an interactive map and weather information in your area. You can discover the nearby businesses and services using the provided buttons labelled with place types/categories specified by the Google Places API. However, other place types/categories still can be searched via a search box.
					</p>
				</div> <!-- about-content -->
			</div> <!-- row -->
		</div> <!-- container -->
		<br/>
	</div> <!-- About -->

	<!-- Labelled buttons - Places -->
	<div id='places' class='text-padding'>
		<div id='carousel' class='carousel slide' data-interval='false'>
			<!-- Indicators -->
			<ol id='indicators' class='carousel-indicators'>
				<li data-target='#carousel' data-slide-to='0' class='active'></li>
				<li data-target='#carousel' data-slide-to='1'></li>
				<li data-target='#carousel' data-slide-to='2'></li>
				<li data-target='#carousel' data-slide-to='3'></li>
			</ol>
			<div id='places-container' class='container'>
				<h3 class='text-center'>Nearby Places</h3>
				<p id='places-description' class='text-center'>Bring you an easy way to find nearby business and services.</p>
				<br/> <!-- line break -->
				<!-- <hr/> horizontal line -->
				<div class='carousel-inner'>
					<div class='item active'>
						<div class='btn-toolbar' role='toolbar'>
							<div class='btn-group btn-group-lg btn-group-justified btn-group-fill-height'>
								<a href='#map-canvas' class='btn btn-default' role='button'><span>Food</span></a>
								<a href='#map-canvas' class='btn btn-default' role='button'><span>Cafe</span></a>
								<a href='#map-canvas' class='btn btn-default' role='button'><span>Bar</span></a>
								<a href='#map-canvas' class='btn btn-default' role='button'><span>Night Club<span></a>
							</div> <!-- btn-group -->
							<div class='btn-group btn-group-lg btn-group-justified btn-group-fill-height'>
								<a href='#map-canvas' class='btn btn-default' role='button'><span>Meal Delivery<span></a>
								<a href='#map-canvas' class='btn btn-default' role='button'><span>Meal Takeaway<span></a>
								<a href='#map-canvas' class='btn btn-default' role='button'><span>Bakery<span></a>
								<a href='#map-canvas' class='btn btn-default' role='button'><span>Liquor<span></a>
							</div> <!-- btn-group -->
						</div> <!-- btn-toolbar -->
					</div> <!-- item -->
					<div class='item'>
						<div class='btn-toolbar' role='toolbar'>
							<div class='btn-group btn-group-lg btn-group-justified btn-group-fill-height'>
								<a href='#map-canvas' class='btn btn-default' role='button'><span>Department Store</span></a>
								<a href='#map-canvas' class='btn btn-default' role='button'><span>Shopping Mall</span></a>
								<a href='#map-canvas' class='btn btn-default' role='button'><span>Electronics Store<span></a>
								<a href='#map-canvas' class='btn btn-default' role='button'><span>Book Store<span></a>
							</div> <!-- btn-group -->
							<div class='btn-group btn-group-lg btn-group-justified btn-group-fill-height'>
								<a href='#map-canvas' class='btn btn-default' role='button'><span>Clothing Store</span></a>
								<a href='#map-canvas' class='btn btn-default' role='button'><span>Shoe Store<span></a>
								<a href='#map-canvas' class='btn btn-default' role='button'><span>Supermarket<span></a>
								<a href='#map-canvas' class='btn btn-default' role='button'><span>Convenience Store<span></a>
							</div> <!-- btn-group -->
						</div> <!-- btn-toolbar -->
					</div> <!-- item -->
					<div class='item'>
						<div class='btn-toolbar' role='toolbar'>
							<div class='btn-group btn-group-lg btn-group-justified btn-group-fill-height'>
								<a href='#map-canvas' class='btn btn-default' role='button'><span>Library</span></a>
								<a href='#map-canvas' class='btn btn-default' role='button'><span>Art Gallery</span></a>
								<a href='#map-canvas' class='btn btn-default' role='button'><span>Museum</span></a>
								<a href='#map-canvas' class='btn btn-default' role='button'><span>Casino</span></a>
							</div> <!-- btn-group -->
							<div class='btn-group btn-group-lg btn-group-justified btn-group-fill-height'>
								<a href='#map-canvas' class='btn btn-default' role='button'><span>Movie<span></a>
								<a href='#map-canvas' class='btn btn-default' role='button'><span>Bowling Alley<span></a>
								<a href='#map-canvas' class='btn btn-default' role='button'><span>Gym<span></a>
								<a href='#map-canvas' class='btn btn-default' role='button'><span>Park<span></a>
							</div> <!-- btn-group -->
						</div> <!-- btn-toolbar -->
					</div> <!-- item -->
					<div class='item'>
						<div class='btn-toolbar' role='toolbar'>
							<div class='btn-group btn-group-lg btn-group-justified btn-group-fill-height'>
								<a href='#map-canvas' class='btn btn-default' role='button'><span>ATM</span></a>
								<a href='#map-canvas' class='btn btn-default' role='button'><span>Bank</span></a>
								<a href='#map-canvas' class='btn btn-default' role='button'><span>Post Office</span></a>
								<a href='#map-canvas' class='btn btn-default' role='button'><span>Police</span></a>
							</div> <!-- btn-group -->
							<div class='btn-group btn-group-lg btn-group-justified btn-group-fill-height'>
								<a href='#map-canvas' class='btn btn-default' role='button'><span>Health<span></a>
								<a href='#map-canvas' class='btn btn-default' role='button'><span>Hospital<span></a>
								<a href='#map-canvas' class='btn btn-default' role='button'><span>Doctor<span></a>
								<a href='#map-canvas' class='btn btn-default' role='button'><span>Dentist<span></a>
							</div> <!-- btn-group -->
						</div> <!-- btn-toolbar -->
					</div> <!-- item -->
				</div> <!-- carousel-inner -->
				<a class='left carousel-control' href='#carousel' data-slide='prev'>
					<span class='icon-prev'></span>
				</a>
				<a class='right carousel-control' href='#carousel' data-slide='next'>
					<span class='icon-next'></span>
				</a>
				<br/>
			</div> <!-- container -->
		</div> <!-- carousel slide -->
	</div> <!-- Places -->

	<!-- Map -->
	<input id='places-input' class='controls' type='text' placeholder='Search Nearby Places'>
	<div id='map-canvas'></div> 

	<!-- Footer -->
	<footer>
		<div class='container'>
			<div id='social-media'></div>
			<p id='api-endpoints' class='text-left'> Powered by
				<a href='http://www.telize.com'>Telize</a>, 
				<a href='http://openweathermap.org/API'>Open Weather Map</a>, 
				<a href='https://www.flickr.com/services/api/'>Flickr</a>, 
				<a href='https://developers.google.com/maps/'>Google Maps</a>,
				<a href='https://developers.google.com/places/'>Google Places</a> and
				<a href='https://developer.foursquare.com'>Foursquare</a>
			</p>
		</div> <!-- container -->
	</footer>

	<!-- JavaScripts -->
	<script type='text/javascript' src='/javascripts/jquery.js'></script>
	<script type='text/javascript' src='/javascripts/bootstrap.min.js'></script>
	<script type='text/javascript' src='/javascripts/weather.js'></script>
	<script type='text/javascript' src='/javascripts/map.js'></script>
	<script src='https://maps.googleapis.com/maps/api/js?signed_in=true&libraries=places&callback=initMap' async defer></script>
	<script type='text/javascript' src='/javascripts/script.js'></script>
</body>
</html>